@using AdaniAir.Project.AdaniAir.Models
@model IntroModel

@{
    Layout = null;
}

<section class="airportDetailsSection">
    <div class="container">
        <div class="airportDes">
            <h4>@Model.Head</h4>
            <p id="text">
                @Model.Discri
                <span id="moreText" style="display: none;">
                    @Model.Discri2
                </span>
                <a href="javascript:void();" id="toggleBtn">Read More</a>
            </p>
        </div>
    </div>
</section>