@font-face {
  font-family: 'adaniextralight';
  src: url('../fonts/adani-extralight_1804808726-webfont.eot');
  src: url('../fonts/adani-extralight_1804808726-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/adani-extralight_1804808726-webfont.woff2') format('woff2'),
       url('../fonts/adani-extralight_1804808726-webfont.woff') format('woff'),
       url('../fonts/adani-extralight_1804808726-webfont.svg#adaniextralight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'adanilight';
  src: url('../fonts/adani-light_2135618829-webfont.eot');
  src: url('../fonts/adani-light_2135618829-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/adani-light_2135618829-webfont.woff2') format('woff2'),
       url('../fonts/adani-light_2135618829-webfont.woff') format('woff'),
       url('../fonts/adani-light_2135618829-webfont.svg#adanilight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'adaniregular';
  src: url('../fonts/adani-regular_1077176809-webfont.eot');
  src: url('../fonts/adani-regular_1077176809-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/adani-regular_1077176809-webfont.woff2') format('woff2'),
       url('../fonts/adani-regular_1077176809-webfont.woff') format('woff'),
       url('../fonts/adani-regular_1077176809-webfont.svg#adaniregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'adanimedium';
  src: url('../fonts/adani-medium_3656582519-webfont.eot');
  src: url('../fonts/adani-medium_3656582519-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/adani-medium_3656582519-webfont.woff2') format('woff2'),
       url('../fonts/adani-medium_3656582519-webfont.woff') format('woff'),
       url('../fonts/adani-medium_3656582519-webfont.svg#adanimedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'adanisemibold';
  src: url('../fonts/adani-semibold_4072574503-webfont.eot');
  src: url('../fonts/adani-semibold_4072574503-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/adani-semibold_4072574503-webfont.woff2') format('woff2'),
       url('../fonts/adani-semibold_4072574503-webfont.woff') format('woff'),
       url('../fonts/adani-semibold_4072574503-webfont.svg#adanisemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'adanibold';
  src: url('../fonts/adani-bold_2702979221-webfont.eot');
  src: url('../fonts/adani-bold_2702979221-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/adani-bold_2702979221-webfont.woff2') format('woff2'),
       url('../fonts/adani-bold_2702979221-webfont.woff') format('woff'),
       url('../fonts/adani-bold_2702979221-webfont.svg#adanibold') format('svg');
  font-weight: normal;
  font-style: normal;
}