  $white: #ffffff;
  $black: #151515;
  $grey: #757575; 
  $primaryColor: #212121;
  $secondryColor: #8E278F;
  $fontSize12: 12px;
  $fontSize13: 13px;
  $fontSize14: 14px;
  $fontSize15: 15px;
  $fontSize16: 16px;
  $fontSize18: 18px;
  $fontSize22: 22px;
  $fontSize24: 24px;
  $fontSize26: 26px;
  $fontSize30: 30px;
  $fontFamilyExtraLight: 'adaniextralight';
  $fontFamilyLight: 'adanilight';
  $fontFamilyReg: 'adaniregular';
  $fontFamilyMed: 'adanimedium';
  $fontFamilySemiBd: 'adanisemibold';
  $fontFamilyBold: 'adanibold';
  $opacity8: 0.80;